/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  background-image: url("https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg");
  font-family: sans-serif;
  padding: 20px;
  /* background-color: burlywood;*/
}

.menu {
  width: 80%;
  max-width: 500px;
  background-color: burlywood;
  /*margin-left and margin-right set to auto centers the element*/
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin-top: 0;
}

h2 {
  font-size: 30px;
  margin-bottom: 0;
}

hr{
  height: 2px;
  background-color: brown;
  border-color: brown;

}

main section figure {
  margin-top: 0;
}

main section figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: -25px;*/
}

.established {
  font-style: italic;
}

h1, h2 {
  font-family: Impact, system-ui;
}

h1, h2, p {
  text-align: center;
}

/*#item1 {
  background-color: red;
}*/

.item p {
  display: inline-block;
  margin: 5px 0;
  /*margin-bottom: -6px;*/
  font-size: 18px;

}

.flavor, .dessert {
  text-align: left;
  width: 75%;
}

.price {
  /*background-color: red;*/
  text-align: right;
  width: 25%;
}

.bottom-line {
  margin-bottom: 25px;
}

/*.bottom-line {
  margin-top: 25px;
}*/

/*        FOOTER                    */

footer {
  font-size: 14px;

  a {
    color: inherit;
  }

  a:visited {
    color: inherit;
  }

  a:hover {
    color: brown;
  }

  a:active {
    color: brown;
  }

  .address {
    margin-bottom: 5px;
  }
}

